header {
  display: flex;
  background-color: rgb(58, 73, 72);
  justify-content: space-between;
  height: 90px;
  padding: 0px;
  align-items: center;
  color: rgb(226, 245, 245);
  position: sticky;
  top: 0;
}


.Navbar ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  padding: 0;
  margin: 0;


}

.Navbar ul li a {
  display:block;
  height:90px;
  align-content: center;
  font-size: 24px;
  padding: 0px 25px;
  
}

.Navbar ul li a:link, .Navbar ul li a:visited {
  background-color: rgb(74, 94, 92);
  color: rgb(231, 210, 185);
  text-align: center;
  text-decoration: none;
/* display: inline-block;*/
}

.Navbar ul li a:hover, .Navbar ul li a:active {
  background-color: rgb(53, 65, 64);
  font-size: 25px;
  text-shadow: 0 2px 6px rgb(173, 161, 148);
  color: rgb(241, 230, 218);
}

.filtro {
  display: block;
  align-items: center;
  text-align: right;
  font-size: 18px;
  font-weight: bold;
  /*background-color: rgb(60, 82, 82);
  color: rgb(207, 204, 199);*/
}

.filtro div select{
  background-color: rgb(74, 94, 92);
  color: rgb(245, 233, 214);
  font-size: 18px;
  font-weight: bold;
  height: 30px;
  border-color: rgb(17, 17, 17);
  border-radius: 7px;
  box-shadow: 0 3px 5px rgb(93, 93, 93);
}



.filtro div select:link, .filtro div select:visited {
  background-color: rgb(74, 94, 92);
  color: rgb(245, 233, 214);
 }

.filtro div select:hover, .filtro div select:active {
  background-color: rgb(53, 65, 64);
  font-size: 18.5px;
  text-shadow: 0 2px 6px rgb(102, 96, 90);
  color: rgb(241, 230, 218);
}



img {
  /*width: 800px;      
    height:600px;   */
  display: block;
  width: 100%;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}
.prjdiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px;
}
article {
  width: 500px;
  padding: 10px;
  background-color: rgb(248, 230, 207);
  border: 4px;
  border-style: solid;
  border-color: rgb(228, 204, 174);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgb(93, 93, 93);
  margin: 15px;
}

h2 {
  text-decoration-line: underline;
  text-decoration-color: rgb(163, 163, 163);
  text-decoration-style: solid;
  font-size: 25px;
}
