<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <h1>AdminProyects</h1>
        <nav>
            <h2>Bienvenido <a href="perfil.html">Usuario</a></h2>
        </nav>
        <nav>
        <ul>
          <li><a href="proyectos.html">Proyectos</a></li>
          <li><a href="detalle.html">Detalle</a></li>
          <li><a href="perfil.html">Perfil</a></li>
        </ul>
      </nav>
    </header>
    <main>
        <section>
            <h2>Estadisticas</h2>
            <ul>
                <article>
                    <h3>Proyectos totales</h3>
                    <p>5</p>
                </article>

                <article>
                    <h3>Tareas para hoy</h3>
                    <p>8</p>
                </article>

                <article>
                    <h3>Mensajes pendientes</h3>
                    <p>3</p>
                </article>
            </ul>
        </section>

        <section>
        <h2>Novedades</h2>
        <ul>
            <li>Kevin subió un archivo</li>
            <li>Se creó el proyecto Deportes</li>
            <li>Gerardo agregó una tarea</li>
            <li>Nuevo mensaje recibido</li>
        </ul>
    </section>
    </main>
</body>

</html>