<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>AdminProyects</h1>
        <nav>
        <h2>Bienvenido <a href="perfil.html">Usuario</a></h2>
        </nav>
    </header>
    <main>
        <div>
        <h2>Estadisticas</h2>
        <ul>
        <h3>Proyectos</h3>
        <h3>Tareas</h3>
        <h3>Mensajes</h3>
        </ul>
        </div>

        <div>
        <h2>Novedades</h2>
        <ul>
        <h3>Kevin subió una novedad</h3>
        <h3>Se creó el proyecto deportes</h3>
        <h3>Se agregó una nueva sección</h3>
        </ul>
        </div>
    </main>
</body>
</html>