<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li> <a href="index.html"> Inicio</a></li>
                <li> <a href="detalle.html"> Detalle</a></li>
                <li> <a href="perfil.html"> Perfil</a></li>
                <li> <a href="proyectos.html"> Proyectos</a></li>

            </ul>
        
        <hr>
    </nav>
    </header>
    <main>
        <h1>Informacion Personal Grupo 7</h1>
        <hr>

       <section>
            <h2>Integrantes</h2>
            <article>
                <img src="/pv_tp1_grupo7/img/placeholder.png" alt="Imagen de referencia" height="200">
                <h3>Integrante 1</h3>
                <p>Rol: Lider</p>
            </article>
            <article>
                <img src="/pv_tp1_grupo7/img/placeholder.png" alt="Imagen de referencia" height="200">
                <h3>Integrante 2</h3>
                <p>Rol: Participante</p>
            </article>
            <article>
                <img src="/pv_tp1_grupo7/img/placeholder.png" alt="Imagen de referencia" height="200">
                <h3>Integrante 3</h3>
                <p>Rol: Participante</p>
            </article>
        </section>

        <section>
            <h2>Integrantes y Profesor</h2>
            <article>
                <img src="/pv_tp1_grupo7/img/placeholder.png" alt="Imagen de referencia" height="200">
                <h3>Integrante 4</h3>
                <p>Rol: Participante</p>
            </article>
            <article>
                <img src="/pv_tp1_grupo7/img/placeholder.png" alt="Imagen de referencia" height="200">
                <h3>Integrante 5</h3>
                <p>Rol: Participante</p>
            </article>
            <article>
                <img src="/pv_tp1_grupo7/img/placeholder.png" alt="Imagen de referencia" height="200">
                <h3>Integrante 6</h3>
                <p>Rol: Profesor</p>
            </article>
        </section>

    </main>
    <footer>
        <p>© 2026 Grupo 7 - Programación Visual</p>
    </footer>
   
</body>
</html>